@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-text: var(--text);
}

[data-theme="light"] {
  --border: #9e9e9e;
  --primary: #e94f1c;
  --secondary: #afd0ae;
  --accent: #87baa5;
  --background: #fbfaf9;
  --text: #090606;
}

[data-theme="dark"] {
  --border: #f9f6f6;
  --primary: #e34a16;
  --secondary: #30512f;
  --accent: #457863;
  --background: #060504;
  --text: #f9f6f6;
}
