.scroll{
  overflow-y: auto
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.zIndex100 {
  z-index: 100;
}

.blur {
  backdrop-filter: blur(2px);
}

.CenterMenu {
  width: 50vw;
  height: auto;
  max-height: 80vh;
  background-color: #F3F3F3;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 101;
  overflow-x: hidden;
}

.hintWrapper {
  position: relative;
  display: inline-block;
}

.hintWrapper .hint {
  visibility: hidden;
  width: 120px;
  background-color: #282828b0;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.hintWrapper .hint::after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}
.hintWrapper:hover  .hint {
  visibility: visible;
  user-select: none;
}

.hintWrapper .rightHint {
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
}
.hintWrapper .rightHint::after {
  top: 50%;
  right: 100%;
  border-color: transparent #282828b0 transparent transparent;
}

.hintWrapper .leftHint {
  top: 50%;
  transform: translateY(-50%);
  right: 110%;
}
.hintWrapper .leftHint::after {
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #282828b0;
}

.hintWrapper .topHint {
  left: 50%;
  transform: translateX(-50%);
  bottom: 110%;
}
.hintWrapper .topHint::after {
  left: 45%;
  bottom: -25%;
  border-color: #282828b0 transparent transparent transparent;
}

.hintWrapper .bottomHint {
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
}
.hintWrapper .bottomHint::after {
  left: 45%;
  top: -13%;
  border-color: transparent transparent #282828b0 transparent;
}