.background {
    background-color: #F3F3F3;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    min-width: 0;
}

.avatarCard {
    position: relative; 
    width: 42px; 
    height: 42px;
    margin-right: -36px;
    margin-top: 4px;
    border: 1px solid #9e9e9e;
}

.avatarCard:nth-child(1) {
    margin-left: 4px;
    margin-top: -4px;
    z-index: 2;
}

.avatarCard:nth-child(2) {
    margin-top: 0;
    z-index: 1;
}

.buttonHover{
    background-color: transparent;
    border-radius: 12px;
}

.buttonHover:hover{
    background-color: #dfdfdf;
}

