.colorPicker {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 1.8rem;
	height: 1.8rem;
	border: 1px solid black;
	border-radius: 5%;
	padding: 0;
	cursor: pointer;
}

.colorCircle {
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
}

.transparentCircle {
	background-image: linear-gradient(45deg, #969696 25%, transparent 25%, transparent 75%, #969696 75%, #969696),
		linear-gradient(45deg, #969696 25%, transparent 25%, transparent 75%, #969696 75%, #969696);
	background-size: 0.6rem 0.6rem;
	background-position: 0 0, 0.3rem 0.3rem;
}

.selected {
	border: 2px solid white;
	box-shadow: 0 0 0 2px black;
}
