.wrapper {
    align-self: start;
    margin: auto 0;
}

.section{
    background-color: #F3F3F3;

    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 8px;

    border-radius: 0 15px 15px 0;

    margin: 10px 0;
}

.wrapper label, .wrapper button {
    margin: 4px 0;
}