.wrapper {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section{
    background-color: #F3F3F3;

    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 8px;

    border-radius: 0 15px 15px 0;

    margin: 10px 0;

    border: 2px solid var(--border-color);
}

.wrapper label, .wrapper button {
    margin: 4px 0;
}