.customInput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }
  
.customInput label.text {
    font-size: 0.75rem;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #F3F3F3;
    width: fit-content;
}
  
.customInput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #9e9e9e solid;
    border-radius: 5px;
    background: #F3F3F3;
}
  
.customInput input[type=text].input:focus {
    outline: none;
}