.rangeSlider {
	width: 100%;
	height: 4px;
	border-radius: 5px;
	background: #d5dbe1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.rangeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.rangeSlider::-webkit-slider-thumb:hover {
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
	transition: 0.3s ease-in-out;
}

.rangeSlider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	cursor: pointer;
}
